{% extends "layout.html" %}

{% block content %}
<h2>
    Register Form
</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        {{ form.username }}
    </div>
    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
        <label for="id_avatar" class="form-label">Avatar</label>
        {{ form.avatar }}
    </div>
    <div class="mb-3">
        <label for="id_password1" class="form-label">Password</label>
        {{ form.password1 }}
    </div>
    <div class="mb-3">
        <label for="id_password2" class="form-label">Confirm Password</label>
        {{ form.password2 }}
    </div>
    <button class="btn btn-primary">Register</button>
</form>
{% endblock %}